/* MObile Menu
================================================== */
a#navigation-toggle {
	z-index         : 9;
	position        : relative;
	height          : 55px;
	float           : left;
	margin          : 0;
	padding-left    : 35px;
	color           : #888;
	line-height     : 55px;
	text-decoration : none !important;
	font-size       : 1.1em;
	font-weight     : 600;
	cursor          : pointer;
}

a#navigation-toggle .fa {
	margin-right : 10px;
}

#navigation-toggle {
	color : #8b8b8b;
}

#navigation-toggle:hover {
	color : #000;
}

#sidr-main {
	z-index     : 999999;
	position    : absolute;
	position    : fixed;
	top         : 0;
	width       : 320px;
	height      : 100%;
	color       : #fff;
	font-family : 'Helvetica Neue', Helvetica, Arial;
	font-size   : 13px;
	overflow-x  : none;
	overflow-y  : auto;
	background  : #222;
}
#sidr-main {
 padding            : 70px 30px 30px;
 font-size          : 16px;
 box-sizing         : border-box;
 -moz-box-sizing    : border-box;
 -webkit-box-sizing : border-box;
}
.sidr.right {
 right : -320px;
 left  : auto;
}
.sidr.left {
 right : auto;
 left  : -320px;
}
#sidr-main a {
 color : #707070;
}
#sidr-main a:hover {
 color : #fff;
}
#sidr-main ul a {
 display       : block;
 padding       : 7px 0;
 border-bottom : 1px solid #333;
 font-weight   : 400;
}
#sidr-main ul li ul {
 margin      : 0;
 margin-left : 0;
}
#sidr-main ul li ul li a {
 padding-left : 10px;
}
#sidr-main ul li ul li li a {
 padding-left : 20px;
}
#sidr-main ul li ul li li li a {
 padding-left : 30px;
}
#sidr-main ul li ul li a:before {
 content                : '\f0da';
 display                : inline-block;
 margin-right           : 10px;
 color                  : #888;
 font-family            : 'FontAwesome';
 -webkit-font-smoothing : antialiased;
}
.sidr-class-toggle-sidr-close:before {
 content     : '\f00d';
 position    : absolute;
 top         : 30px;
 left        : 30px;
 margin      : 0;
 color       : #fff;
 font-family : 'FontAwesome';
}

/*
Smaller Then Desktop
*/
@media only screen and (max-width: 959px) {
	#site-navigation #main-menu >  : ;
 a#navigation-toggle {
  display : block;
 }
 ul {
  display : list-item;
	/* Changed from none */
 }
}

/*
Tablet (Portrait)
*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
 .container {
  max-width : 85%;
 }
 .left-content {
  width : 60%;
 }
 .sidebar-container {
  width : 36%;
 }
}
/*
Mobile (Portrait & Landscape)
*/
@media only screen and (max-width: 767px) {
	.sidebar-container,  : ;
 .container {
  width     : 90%;
  max-width : 480px;
 }
	.left-content {
		width : 100%;
 }
 .sidebar-container {
  margin-top  : 40px;
  padding-top : 40px;
  border-top  : 10px solid #eee;
 }
 .col {
  width         : 100%;
  margin-bottom : 25px;
  margin-left   : 0;
 }
 .homepage-slide-content {
  display : list-item;
 }
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidr {
		width : 480px;
 }
	.sidr.right {
		right : -480px;
 }
}
