/*
www.devsaran.com
*/

@import url("http://fonts.googleapis.com/css?family=Open Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic");


/* Reset
================================================== */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
 margin         : 0;
 padding        : 0;
 border         : 0;
 vertical-align : baseline;
 font           : inherit;
 font-size      : 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display : block;
}
ol, ul {
 list-style : none;
}
blockquote,
q {
 quotes : none;
}
:focus {
 outline : 0;
}
table {
 border-collapse : collapse;
 border-spacing  : 0;
}
img {
 height    : auto;
 max-width : 100%;
}
mark {
 background : none;
}
select {
 max-width : 100%;
}
/* The Grid
================================================== */
.clr:after,
.col:after,
.group:after {
 content    : "";
 display    : block;
 visibility : hidden;
 zoom       : 1;
 height     : 0;
 clear      : both;
}
.col {
 display            : block;
 float              : left;
 margin             : 0 0 2% 1.6%;
 box-sizing         : border-box;
 -moz-box-sizing    : border-box;
 -webkit-box-sizing : border-box;
}
/*percent grid*/
.span_1_of_1 {
 width : 100%;
}.span_2_of_2 {
 width : 100%;
}.span_1_of_2 {
 width : 49.2%;
}.span_3_of_3 {
 width : 100%;
}.span_2_of_3 {
 width : 66.1%;
}.span_1_of_3 {
 width : 32.2%;
}.span_4_of_4 {
 width : 100%;
}.span_3_of_4 {
 width : 74.6%;
}.span_2_of_4 {
 width : 49.2%;
}.span_1_of_4 {
 width : 23.8%;
}.span_5_of_5 {
 width : 100%;
}.span_4_of_5 {
 width : 79.68%;
}.span_3_of_5 {
 width : 59.36%;
}.span_2_of_5 {
 width : 39.04%;
}.span_1_of_5 {
 width : 18.72%;
}.span_6_of_6 {
 width : 100%;
}.span_5_of_6 {
 width : 83.06%;
}.span_4_of_6 {
 width : 66.13%;
}.span_3_of_6 {
 width : 49.2%;
}.span_2_of_6 {
 width : 32.26%;
}.span_1_of_6 {
 width : 15.33%;
}.span_7_of_7 {
 width : 100%;
}.span_6_of_7 {
 width : 85.48%;
}.span_5_of_7 {
 width : 70.97%;
}.span_4_of_7 {
 width : 56.45%;
}.span_3_of_7 {
 width : 41.92%;
}.span_2_of_7 {
 width : 27.42%;
}.span_1_of_7 {
 width : 12.91%;
}.span_8_of_8 {
 width : 100%;
}.span_7_of_8 {
 width : 87.3%;
}.span_6_of_8 {
 width : 74.6%;
}.span_5_of_8 {
 width : 61.9%;
}.span_4_of_8 {
 width : 49.2%;
}.span_3_of_8 {
 width : 36.5%;
}.span_2_of_8 {
 width : 23.8%;
}.span_1_of_8 {
 width : 11.1%;
}.span_9_of_9 {
 width : 100%;
}.span_8_of_9 {
 width : 88.71%;
}.span_7_of_9 {
 width : 77.42%;
}.span_6_of_9 {
 width : 66.13%;
}.span_5_of_9 {
 width : 54.84%;
}.span_4_of_9 {
 width : 43.55%;
}.span_3_of_9 {
 width : 32.26%;
}.span_2_of_9 {
 width : 20.97%;
}.span_1_of_9 {
 width : 9.68%;
}.span_10_of_10 {
 width : 100%;
}.span_9_of_10 {
 width : 89.84%;
}.span_8_of_10 {
 width : 79.68%;
}.span_7_of_10 {
 width : 69.52%;
}.span_6_of_10 {
 width : 59.36%;
}.span_5_of_10 {
 width : 49.2%;
}.span_4_of_10 {
 width : 39.04%;
}.span_3_of_10 {
 width : 28.88%;
}.span_2_of_10 {
 width : 18.72%;
}.span_1_of_10 {
 width : 8.56%;
}.span_11_of_11 {
 width : 100%;
}.span_10_of_11 {
 width : 90.7%;
}.span_9_of_11 {
 width : 81.47%;
}.span_8_of_11 {
 width : 72.24%;
}.span_7_of_11 {
 width : 63.01%;
}.span_6_of_11 {
 width : 53.78%;
}.span_5_of_11 {
 width : 44.55%;
}.span_4_of_11 {
 width : 35.32%;
}.span_3_of_11 {
 width : 26.09%;
}.span_2_of_11 {
 width : 16.86%;
}.span_1_of_11 {
 width : 7.63%;
}.span_12_of_12 {
 width : 100%;
}.span_11_of_12 {
 width : 91.46%;
}.span_10_of_12 {
 width : 83%;
}.span_9_of_12 {
 width : 74.54%;
}.span_8_of_12 {
 width : 66.08%;
}.span_7_of_12 {
 width : 57.62%;
}.span_6_of_12 {
 width : 49.16%;
}.span_5_of_12 {
 width : 40.7%;
}.span_4_of_12 {
 width : 32.24%;
}.span_3_of_12 {
 width : 23.78%;
}.span_2_of_12 {
 width : 15.32%;
}.span_1_of_12 {
 width : 6.86%;
}
/*clear float and remove left margin*/
.clr-margin {
 margin-left : 0;
}
.count-1 {
 clear       : both;
 margin-left : 0;
}
.col-1,
.col.first {
 clear       : both;
 margin-left : 0;
}
/* Body & Main
================================================== */
body {
 color                  : #777;
 font                   : 14px/1.6 'Open Sans', "Helvetica", Arial;
 background             : #f6f6f6;
 -webkit-font-smoothing : auto; /* Changed form auto because its a darker color */
}
body a {
 color           : #00BFA5;
 text-decoration : none;
}
#main {
 padding : 100px 0;
}
.container {
 width              : inherit;
 margin             : 0 auto;
 -webkit-box-sizing : border-box;
 -moz-box-sizing    : border-box;
 box-sizing         : border-box;
}
.left-content {
 width : 640px;
 float : left;
}
.sidebar-container {
 width : 300px;
 float : left;
}
/* Commons
================================================== */
.clr:after {
 content     : ".";
 display     : block;
 visibility  : hidden;
 height      : 0;
 clear       : both;
 line-height : 0;
}
.clear {
 clear : both;
}
img {
 height    : auto;
 max-width : 100%;
}
blockquote {
 position      : relative;
 margin-bottom : 30px;
 padding-left  : 50px;
 color         : #555;
 font-family   : serif;
 font-size     : 1.4em;
 line-height   : 1.5em;
 background    : url("images/quote.png") left 4px no-repeat;
}
blockquote.left {
 width        : 33%;
 float        : left;
 margin-right : 20px;
 margin-left  : 0;
 text-align   : right;
}
blockquote.right {
 width        : 33%;
 float        : right;
 margin-right : 0;
 margin-left  : 20px;
 text-align   : left;
}
pre {
 margin-bottom : 30px;
 padding       : 20px;
 color         : #666;
 font-family   : serif;
 white-space   : pre-wrap;
 white-space   : -moz-pre-wrap;
 white-space   : -pre-wrap;
 white-space   : -o-pre-wrap;
 word-wrap     : break-word;
 background    : #ededed;
}
address {
 margin         : 20px 0;
 letter-spacing : 1px;
}

/* Lists
================================================== */
ol, ul {
 margin : 0 0 1em 1.5em;
}
ul {
 list-style : disc;
}
ol {
 list-style-type : decimal;
}
ol ol {
 list-style : upper-alpha;
}
ol ol ol {
 list-style : lower-roman;
}
ol ol ol ol {
 list-style : lower-alpha;
}
ol ol, ol ul, ul ol, ul ul {
 margin-bottom : 0;
}

table {
 width        : 100%;
 margin       : 0 0 1.5em;
 border       : 1px solid #ddd;
 border-right : none;
 background   : #fff;
}

th {
 padding     : 10px 10px;
 color       : #fff;
 font-weight : bold;
 background  : #555;
}

tr {
 padding : 5px 5px;
}

td {
 padding      : 5px 10px;
 border-top   : 1px solid #ddd;
 border-right : 1px solid #ddd;
}

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
 color       : #444;
 font-family: serif;
 font-weight : 600;
 line-height : 1.4em;
}

h1 {
 margin    : 0 0 20px;
 font-family: sans-serif;
 font-size : 1.714em;
}

h2 {
 font-size : 1.286em;
 font-family: sans-serif;
 font-weight: bold;
}

h3 {
  font-family: serif;
 font-size : 1.286em;
 font-weight: bold;
}

h4 {
 font-size : 1em;
   font-family: serif;
   font-weight: bold;
}

h5 {
 font-size : 0.857em;
   font-family: serif;
}

h6 {
 font-size : 0.714em;
   font-family: serif;
}
p {
 margin : 0 0 20px;
   font-family: serif;
}
h1 a, h2 a, h3 a, h4 a {
 color : #000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
 color           : #00BFA5;
 text-decoration : none;
}
em {
 font-style : italic;
}
strong {
 color       : #000;
 font-weight : 600;
}
small {
 font-size : 80%;
}
hr {
 height       : 0;
 clear        : both;
 margin       : 40px 0;
 border       : solid #eee;
 border-width : 1px 0 0;
}

/* Header
================================================== */
/*header*/
#header-wrap {
 position      : fixed;
 top           : 0px;
 width         : 100%;
 border-bottom : 1px solid #e4e4e4;
 box-shadow    : 0 0 3px rgba(0,0,0,0.1);
 background    : #fff;
}
#header {
 position   : relative;
 padding    : 10px 0;
 text-align : left;
}
/*logo*/
#logo img {
 display   : block;
 max-width : 100%;
}
#logo a {
 color           : #000;
 text-decoration : none;
 font-size       : 1.500em;
}
/*fixed header*/
.is-sticky #header-wrap {
 z-index  : 999;
 width    : 100%;
 overflow : visible !important;
}

/* Main Navigation
================================================== */
#main-menu > ul,
#main-menu > ul * {
 margin     : 0;
 padding    : 0;
 list-style : none;
}
#main-menu > ul li {
 position : relative;
}
#main-menu > ul ul {
 z-index  : 10001;
 display  : none;
 position : absolute;
 top      : 100%;
 left     : 0;
}
#main-menu > ul > li {
 float : left;
}
#main-menu > ul li:hover > ul,
#main-menu > ul li.sfHover > ul {
 display : block;
}
#main-menu > ul a {
 display  : block;
 position : relative;
}
#main-menu > ul ul ul {
 top  : 0;
 left : 100%;
}
#main-menu > ul {
 float : left;
}
#main-menu > ul ul {
 min-width : 160px;
 *width    : 160px;
}
#main-menu > ul a {
 zoom : 1;
}
#main-menu > ul li {
 position           : relative;
 white-space        : nowrap;
 transition         : background .2s;
 -webkit-transition : background .2s;
 *white-space       : normal;
}
#main-menu > ul li:hover,
#main-menu > ul li.sfHover {
 transition         : none;
 -webkit-transition : none;
}
#main-menu > ul .sf-mega {
 z-index  : 99;
 display  : none;
 position : absolute;
 top      : 100%;
 left     : 0;
}
#main-menu > ul li:hover > .sf-mega,
#main-menu > ul li.sfHover > .sf-mega {
 display : block;
}
/*styling*/
#site-navigation-wrap {
 position   : absolute;
 top        : 50%;
 right      : 0;
 height     : 40px;
 margin-top : -20px;
}
#site-navigation #main-menu > ul li {
 display     : block;
 height      : 40px;
 float       : left;
 line-height : 40px;
}
#site-navigation #main-menu > ul > li {
 margin-left : 25px;
}
#site-navigation #main-menu > ul > li:first-child {
 margin-left : 0;
}
#site-navigation #main-menu > ul a {
 color           : #999;
 text-align      : left;
 text-decoration : none;
 font-weight     : 400;
 cursor          : pointer;
}
#site-navigation #main-menu > ul > li > a:hover,
#site-navigation #main-menu > ul > li.sfHover > a,
#site-navigation #main-menu > ul > li > a.active,
#site-navigation #main-menu > ul > li > a.active:hover {
 color : #000;
}
/*drop-down styles*/
#site-navigation #main-menu > ul ul {
 font-size  : 1em;
 background : #222;
}
#site-navigation #main-menu > ul ul li a {
 display        : block;
 height         : auto;
 margin         : 0px;
 padding        : 10px;
 border         : 0px;
 text-transform : none;
 line-height    : 1.7em;
}
#site-navigation #main-menu > ul ul li a.sf-with-ul {
 padding-right : 23px;
}
#site-navigation #main-menu > ul ul li {
 display       : block;
 height        : auto;
 float         : none;
 border-bottom : 1px solid rgba(255, 255, 255, 0.08);
 line-height   : 1.4em;
}
#site-navigation #main-menu > ul ul li > a:hover {
 color : #fff;
}
#site-navigation #main-menu > ul ul li:last-child {
 border : none;
}
/*arrows*/
#site-navigation #main-menu > ul > li .fa-angle-down {
 margin-left : 5px;
}
#site-navigation #main-menu > ul > li ul li .fa-angle-right {
 position    : absolute;
 top         : 50%;
 right       : 15px;
 height      : 20px;
 margin-top  : -10px;
 line-height : 20px;
}

/*hide responsive elements
================================================== */
#navigation-toggle,
#sidr-close,
.sidr {
 display : none;
}

/* Sidebar
================================================== */
.sidebar-container .block {
 margin-bottom : 30px;
 float: left;
}
.sidebar-container .block > h2 {
 margin    : 0 0 10px;
 font-size : 1.5em;
}
/* FlexSlider
================================================== */
/* Necessary Styles*/
.flex-container a:active,
.flex-container a:focus,
.flexslider a:active,
.flexslider a:focus {
 outline : none;
}
.flex-control-nav,
.flex-direction-nav,
.slides {
 margin     : 0;
 padding    : 0;
 list-style : none;
}
.flexslider {
 margin  : 0;
 padding : 0;
}
.flexslider .slides > li {
 display                     : none;
 margin                      : 0;
 -webkit-backface-visibility : hidden;
}
.flexslider .slides img {
 display : block;
 width   : 100%;
}
.flex-pauseplay span {
 text-transform : capitalize;
}
.slides:after {
 content     : "\0020";
 display     : block;
 visibility  : hidden;
 height      : 0;
 clear       : both;
 line-height : 0;
}
html[xmlns] .slides {
 display : block;
}
* html .slides {
 height : 1%;
}
.no-js .slides > li:first-child {
 display : block;
}
/*main*/
.flexslider-container {
 position : relative;
}
.flexslider-container img {
 display : block;
}
/* Homepage
================================================== */
#homepage-slider-wrap {
 max-height : 500px;
 overflow   : hidden;
}
#homepage-slider-wrap .flex-direction-nav li a {
 z-index     : 9;
 display     : block;
 position    : absolute;
 top         : 50%;
 width       : 50px;
 height      : 70px;
 margin-top  : -35px;
 color       : #fff;
 text-align  : center;
 font-size   : 21px;
 line-height : 70px;
 opacity     : 0.8;
 background  : #000;
}
#homepage-slider-wrap .flex-direction-nav li a:hover {
 color           : #fff;
 text-decoration : none;
 opacity         : 1;
 background      : #00BFA5;
}
#homepage-slider-wrap .flex-direction-nav li a.flex-prev {
 left : 0;
}
#homepage-slider-wrap .flex-direction-nav li a.flex-next {
 right : 0;
}
.homepage-slide-inner {
 position : relative;
}
.homepage-slide-content {
 z-index  : 9999;
 display  : block;
 position : absolute;
 top      : 50px;
 left     : 0;
}
.homepage-slide-title {
 float          : left;
 padding        : 15px 20px;
 color          : #fff;
 text-transform : uppercase;
 font-size      : 1.5em;
 font-weight    : bold;
 background     : #222;
}
.homepage-slide-caption {
 float       : left;
 margin-top  : 10px;
 padding     : 10px;
 color       : #fff;
 font-size   : 1.25em;
 font-weight : 600;
 background  : #31c68b;
}

#breadcrumbs {
 margin    : 5px;
 font-size : 11px;
}


/* =Content
----------------------------------------------- */

.node h2.title {
 margin    : 0;
 font-size : 1.750em;
}

h1.page-title {
 margin    : 5px 0 10px;
 font-size : 2em;
}

#content .node-teaser {
 margin-bottom  : 30px;
 padding-bottom : 30px;
 border-bottom  : 1px solid #ddd;
}

.node-teaser img {
 height    : auto;
 float     : left;
 margin    : 0.5em 1em 0.5em 0;
 padding   : 6px;
 max-width : 97.4%;
 border    : 1px solid #CCCCCC;
}
.page-node #content-wrap img {
 height    : auto;
 margin    : 0.5em 1em 0.5em 0;
 padding   : 6px;
 max-width : 97.4%;
 border    : 1px solid #CCCCCC;
}

.node-teaser p {
 margin-bottom : 1em;
}

.region-content-top {
 margin : 15px 0 20px;
}

#preface-wrap .block > h2,
.region-content-top .block > h2 {
 margin    : 0 0 10px;
 font-size : 1.5em;
}

/* Preface
================================================== */
#preface-wrap {
 padding : 40px 0 0;
}
#preface-wrap .block {
 margin-bottom : 20px;
}
#preface-wrap .span_1_of_3.col-1 {
 padding-right : 10px;
}
#preface-wrap .span_1_of_3.col-2 {
 padding-right : 5px;
 padding-left  : 5px;
}
#preface-wrap .span_1_of_3.col-3 {
 padding-left : 10px;
}

/* Footer
================================================== */
#footer-wrap {
 position   : inherit;
 bottom     : 32px;
 width      : 100%;
 padding    : 30px 0 0;
 background : #222;
}
#footer-wrap input[type="search"],
#footer-wrap input[type="text"] {
 border : none;
}
#footer-wrap a {
 color : #bbb;
}
#footer-wrap a:hover {
 color           : #00BFA5;
 text-decoration : none;
}
#footer-wrap .block > h2 {
 margin    : 0 0 15px;
 color     : #fff;
 font-size : 1.25em;
}
#footer-wrap .block > h2 span {
 padding-right : 10px;
 background    : #222;
}
#footer-wrap .block {
 margin-bottom : 0px;
}
#footer-wrap .span_1_of_3.col-1 {
 padding-right : 10px;
}
#footer-wrap .span_1_of_3.col-2 {
 padding-right : 5px;
 padding-left  : 5px;
}
#footer-wrap .span_1_of_3.col-3 {
 padding-left : 10px;
}
.footer-block > ul > li {
 padding       : 2px 0;
 border-bottom : 1px solid #333;
}
.footer-block > ul > li:first-child {
 border-top : 1px solid #333;
}
#copyright-wrap {
 position   : inherit;
 bottom     : 0;
 width      : 100%;
 padding    : 5px 0;
 color      : #888;
 text-align : center;
 background : #111;
}
#copyright-wrap a {
 color : #fff;
}

/*aligns*/
.aligncenter {
 display : block;
 margin  : 0 auto;
}
.alignright {
 float  : right;
 margin : 0 0 10px 20px;
}
.alignleft {
 float  : left;
 margin : 0 20px 10px 0;
}
/*floats*/
.floatleft {
 float : left;
}
.floatright {
 float : right;
}
/*text style*/
.textcenter {
 text-align : center;
}
.textright {
 text-align : right;
}
.textleft {
 text-align : left;
}

/* -------------- Form Elements  ------------- */

fieldset {
 position              : relative;
 top                   : 12px;
 margin-top            : 10px;
 margin-bottom         : 32px;
 padding               : 0 0 10px;
 border                : 1px solid #cccccc;
 border-radius         : 4px;
 background            : #ffffff;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
}

.fieldset-wrapper {
 margin-top : 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
 margin-top : 0;
}

.filter-wrapper {
 top                             : 0;
 padding                         : 1em 0 0.2em;
 border-top-left-radius          : 0;
 border-top-right-radius         : 0;
 -moz-border-radius-topleft      : 0;
 -webkit-border-top-right-radius : 0;
 -webkit-border-top-left-radius  : 0;
 -khtml-border-radius-topright   : 0;
 -moz-border-radius-topright     : 0;
 -khtml-border-radius-topleft    : 0;
}

.filter-help a {
 padding   : 2px 20px 0;
 font-size : 0.857em;
}

.filter-wrapper .form-item label {
 margin-right : 10px;
}

.filter-wrapper .form-item {
 padding : 0 0 0.5em 0.5em;
}

.filter-guidelines {
 padding : 0 1.5em 0 0.5em;
}

fieldset.collapsed {
 border-radius         : 0;
 background            : transparent;
 -webkit-border-radius : 0;
 -moz-border-radius    : 0;
 -khtml-border-radius  : 0;
}

fieldset legend {
 display                         : block;
 position                        : absolute;
 top                             : -12px;
 left                            : -1px;
 width                           : 100%;
 height                          : 2em;
 padding                         : 0;
 border                          : 1px solid #ccc;
 border-bottom                   : none;
 border-top-left-radius          : 4px;
 border-top-right-radius         : 4px;
 text-shadow                     : 0 1px 0 #fff;
 line-height                     : 2;
 background                      : #dbdbdb;
 -webkit-border-top-left-radius  : 4px;
 -webkit-border-top-right-radius : 4px;
 -moz-border-radius-topright     : 4px;
 -khtml-border-radius-topright   : 4px;
 text-indent                     : 10px;
 -moz-border-radius-topleft      : 4px;
 -khtml-border-radius-topleft    : 4px;
}

fieldset.collapsed legend {
 border-radius         : 4px;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
}

fieldset .fieldset-wrapper {
 padding : 0 10px;
}

fieldset .fieldset-description {
 margin-top    : 5px;
 margin-bottom : 1em;
 font-style    : italic;
 line-height   : 1.4;
}

input {
 margin  : 2px 0;
 padding : 4px;
}

input, textarea {
 font-size : 0.929em;
}

textarea {
 line-height : 1.5;
}

select.form-select,
textarea.form-textarea {
 padding : 4px;
}

input.form-text,
select.form-select,
textarea.form-textarea {
 border : 1px solid #ccc;
}

.password-suggestions ul li {
 margin-left : 1.2em;
}

.form-item {
 margin-top    : 2px;
 margin-bottom : 1em;
}

.form-item label {
 font-size : 0.929em;
}

.form-type-checkbox label,
.form-type-radio label {
 margin-left : 4px;
}

.form-type-checkbox .description,
.form-type-radio .description {
 margin-left : 2px;
}

.form-actions {
 padding-top : 10px;
}

/* Contact Form */

.contact-form #edit-name {
 width                 : 100%;
 border-radius         : 4px;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
 box-sizing            : border-box;
 -webkit-box-sizing    : border-box;
 -moz-box-sizing       : border-box;
}

.contact-form #edit-mail {
 width                 : 100%;
 border-radius         : 4px;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
 box-sizing            : border-box;
 -webkit-box-sizing    : border-box;
 -moz-box-sizing       : border-box;
}

.contact-form #edit-subject {
 width                 : 100%;
 border-radius         : 4px;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
 box-sizing            : border-box;
 -webkit-box-sizing    : border-box;
 -moz-box-sizing       : border-box;
}

.contact-form #edit-message {
 width                           : 100%;
 border-top-left-radius          : 4px;
 border-top-right-radius         : 4px;
 -khtml-border-top-left-radius   : 4px;
 -moz-border-radius-topright     : 4px;
 -webkit-box-sizing              : border-box;
 -moz-border-radius-topleft      : 4px;
 -webkit-border-top-right-radius : 4px;
 -webkit-border-top-left-radius  : 4px;
 -moz-box-sizing                 : border-box;
 box-sizing                      : border-box;
 -khtml-border-top-right-radius  : 4px;
}

.contact-form .resizable-textarea .grippie {
 width                              : 100%;
 border-bottom-right-radius         : 4px;
 border-bottom-left-radius          : 4px;
 -khtml-border-bottom-left-radius   : 4px;
 -moz-border-radius-bottomright     : 4px;
 -moz-box-sizing                    : border-box;
 -moz-border-radius-bottomleft      : 4px;
 -webkit-border-bottom-right-radius : 4px;
 -webkit-border-bottom-left-radius  : 4px;
 box-sizing                         : border-box;
 -webkit-box-sizing                 : border-box;
 -khtml-border-bottom-right-radius  : 4px;
}

/* Comment form */

.comment-form label {
 float     : left;
 font-size : 0.929em;
}

.comment-form .form-select,
.comment-form input {
 margin                : 0;
 border-radius         : 4px;
 -webkit-border-radius : 4px;
 -moz-border-radius    : 4px;
 -khtml-border-radius  : 4px;
}

.comment-form .form-type-textarea label {
 float : none;
}

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-select,
.comment-form .form-type-checkbox {
 margin-bottom : 10px;
 overflow      : hidden;
}

.comment-form .form-radios,
.comment-form .form-type-checkbox {
 margin-left : 120px;
}

.comment-form .form-radios label,
.comment-form .form-type-checkbox label {
 float      : none;
 margin-top : 0;
}

.comment-form input.form-file {
 width : auto;
}

.comment-form .form-text {
 display            : block;
 width              : 100%;
 margin             : 0;
 box-sizing         : border-box;
 -webkit-box-sizing : border-box;
 -moz-box-sizing    : border-box;
}

.comment-form .form-item .description {
 margin-left : 120px;
 font-size   : 0.786em;
 line-height : 1.2;
}

#content h2.comment-form {
 margin-bottom : 0.5em;
}

.comment-form .form-textarea {
 border-top-left-radius          : 4px;
 border-top-right-radius         : 4px;
 -khtml-border-radius-topleft    : 4px;
 -webkit-border-top-right-radius : 4px;
 -webkit-border-top-left-radius  : 4px;
 -khtml-border-radius-topright   : 4px;
 -moz-border-radius-topright     : 4px;
 -moz-border-radius-topleft      : 4px;
}

.comment-form .text-format-wrapper .form-item,
.comment-form fieldset.filter-wrapper .fieldset-wrapper {
 margin-top    : 0;
 margin-bottom : 0;
}

.filter-wrapper label {
 width : auto;
 float : none;
}

.filter-wrapper .form-select {
 min-width : 120px;
}

.comment-form fieldset.filter-wrapper .tips {
 font-size : 0.786em;
}

#comment-body-add-more-wrapper .form-type-textarea label {
 margin-bottom : 0.4em;
}

#edit-actions input {
 margin-right : 0.6em;
}

/* Other Overrides */

div.password-suggestions {
 border : 0;
}

.ui-widget-overlay {
 opacity    : 0.7;
 background : #222222;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
 padding : 1em;
}

#forum .name {
 font-size : 1.083em;
}

#forum .description {
 font-size : 1em;
}

/* Form Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 position              : relative;
 padding               : 4px .8em 5px .8em;
 color                 : #333333;
 border                : 1px solid #dbdbdb;
 border-radius         : 6px;
 text-shadow           : 0 1px 0 white;
 font-size             : 13px;
 font-weight           : bold;
 box-shadow            : inset 0 1px 0 0 white;
 -moz-box-shadow       : inset 0 1px 0 0 white;
 -webkit-box-shadow    : inset 0 1px 0 0 white;
 filter                : ;
 background-image      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
 background-image      : -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
 background-image      : -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
 background-image      : -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
 background-image      : linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
 background-image      : -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
 -o-box-shadow         : inset 0 1px 0 0 white;
 -moz-border-radius    : 6px;
 progid                : DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');
 -o-border-radius      : 6px;
 -khtml-border-radius  : 6px;
 -ms-border-radius     : 6px;
 -webkit-border-radius : 6px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
 border-radius         : 6px;
 box-shadow            : inset 0 1px 0 0 white;
 -moz-box-shadow       : inset 0 1px 0 0 white;
 -webkit-box-shadow    : inset 0 1px 0 0 white;
 filter                : ;
 background-image      : -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
 background-image      : -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
 background-image      : -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
 background-image      : -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
 background-image      : linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
 background-image      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
 cursor                : pointer;
 -moz-border-radius    : 6px;
 -o-border-radius      : 6px;
 -khtml-border-radius  : 6px;
 -o-box-shadow         : inset 0 1px 0 0 white;
 -ms-border-radius     : 6px;
 -webkit-border-radius : 6px;
 progid                : DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');
}

button.full-width,
input[type="button"].full-width,
input[type="reset"].full-width,
input[type="submit"].full-width {
 width         : 100%;
 padding-right : 0 !important;
 padding-left  : 0 !important;
 text-align    : center;
}


#block-search-form {
 padding-bottom : 7px;
}

#block-search-form .content {
 margin-top : 0;
}

#block-search-form .form-item-search-block-form input,
#search-form input#edit-keys {
 width        : 9em;
 height       : 1.143em;
 float        : left;
 margin-right : 5px;
 font-size    : 1em;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
 width        : 34px;
 height       : 25px;
 margin-right : 0;
 margin-left  : 0;
 padding      : 0;
 border-color : #e4e4e4 #d2d2d2 #b4b4b4;
 overflow     : hidden;
 background   : url(images/search-button.png) no-repeat center top;
 cursor       : pointer;
 text-indent  : -9999px;
}

#search-block-form input.form-submit:focus,
#search-block-form input.form-submit:hover,
#search-form input.form-submit:focus,
#search-form input.form-submit:hover {
 background-position : center bottom;
}

#search-form .form-item-keys label {
 display : block;
}


ol.search-results {
 padding-left : 0;
}

.search-results li {
 margin-bottom  : 0.5em;
 padding-bottom : 0.4285em;
 border-bottom  : 1px solid #d3d7d9;
}

.search-results li:last-child {
 margin-bottom  : 1em;
 padding-bottom : none;
 border-bottom  : none;
}

.search-results .search-snippet-info {
 padding-left : 0;
}


.meta {
 margin      : 5px 0 10px 0;
 font-size   : 0.929em;
 font-weight : 400;
}

.meta a {
 color : #999;
}

.meta a:hover {
 color : #000;
}

.meta li {
 display      : inline;
 margin-right : 5px;
 margin-right : 10px;
}

.meta strong {
 color       : #111;
 font-weight : 600;
}

.meta li:last-child {
 margin-right  : 0;
 padding-right : 0;
 background    : none;
}

.links li a {
 padding          : 4px 5px;
 color            : #100100;
 border-radius    : 4px;
 text-shadow      : 1px 1px #fff;
 font-weight      : normal;
 background-color : #E7E5E3;
}

.links li a:hover {
 color            : #100101;
 background-color : #D7D5D3;
}


/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
 border     : 0;
 background : transparent;
}
#content table.cke_editor td {
 padding    : 0;
 border     : 0;
 background : transparent;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
 font-size   : 14px;
 font-weight : normal;
 line-height : 2;
}

.poll .vote-form .choices {
 margin : 0;
}

.form-item label {
 font-size   : 13px;
 font-weight : bold;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
 margin  : 0;
 padding : 0 0 0 1.5385em;
}

.item-list ul li {
 margin  : 0;
 padding : 0;
}

ul.menu li {
 margin  : 0;
 padding : 0;
}

ul.inline {
 clear : both;
}

ul.inline li {
 margin  : 0;
 padding : 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
 margin        : 0 0 5px 0;
 border-bottom : 1px solid #b7b7b7;
}

ul.primary {
 margin  : 0;
 padding : 0;
 border  : none;
}

ul.primary li a {
 display       : block;
 float         : left;
 margin        : 0;
 margin-right  : 5px;
 padding       : 0 1em;
 border        : none;
 border-radius : 4px 4px 0 0;
 line-height   : 1.5385em;
 background    : none;
}

ul.primary li a.active,
ul.primary li a:hover {
 color      : #fff;
 border     : none;
 background : #666;
}

ul.primary li a:hover {
 text-decoration : none;
 background      : #888;
}

ul.secondary {
 clear         : both;
 margin        : 0;
 padding       : 0;
 border-bottom : none;
 background    : #666;
}

ul.secondary li {
 border-right : none;
}

ul.secondary li a,
ul.secondary li a:link {
 display     : block;
 float       : left;
 padding     : 0 1em;
 color       : #ccc;
 border      : none;
 line-height : 1.5385em;
}

ul.secondary li a.active,
ul.secondary li a:hover {
 color           : #fff;
 text-decoration : none;
 background      : #888;
}

ul.secondary a.active {
 border-bottom : none;
}

ul.inline,
ul.links.inline {
 margin-left : 0;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
 margin : 0 0 10px 0;
}

.field-name-field-tags a {
 margin-right  : 5px;
 margin-bottom : 5px;
 padding       : 2px 6px;
 color         : #fff;
 border-radius : 2px;
 font-size     : 0.929em;
 background    : #00BFA5;
}

.field-name-field-tags a:hover {
 color      : #fff;
 background : #111;
}

.field-name-field-tags div {
 display : inline;
}


/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
 margin : 1.5385em 0;
}

.profile dd {
 margin-bottom : 1.5385em;
}

.profile h3 {
 border : none;
}

.profile dt {
 margin-bottom : 0;
}

.password-parent {
 width : 36em;
}

/* Comments */

.comment h2.title {
 margin-bottom : 1em;
}

.comment div.user-picture img {
 margin-left : 0;
}

.comment {
 display        : table;
 margin-bottom  : 20px;
 vertical-align : top;
}

.comment .attribution {
 display        : table-cell;
 padding        : 0 35px 0 0;
 vertical-align : top;
 overflow       : hidden;
}

.comment .attribution img {
 margin : 0;
 border : 1px solid #d3d7d9;
}

.comment .attribution .username {
 white-space : nowrap;
}

.comment .comment-submitted p {
 margin      : 4px 0;
 font-size   : 1.071em;
 line-height : 1.2;
}

.comment .comment-submitted .comment-time {
 font-size : 0.786em;
}

.comment .comment-submitted .comment-permalink {
 text-transform : lowercase;
 font-size      : 0.786em;
}

.comment .content {
 font-size   : 0.929em;
 line-height : 1.6;
}

.comment .comment-arrow {
 position     : absolute;
 width        : 20px;
 height       : 40px;
 margin-top   : 15px;
 margin-left  : -36px;
 border-right : 1px solid;
 border-left  : 1px solid;
 background   : url(images/comment-arrow.gif) no-repeat 0 center transparent;
}

.comment .comment-text {
 display        : table-cell;
 position       : relative;
 width          : 100%;
 padding        : 0 25px 10px 35px;
 border-left    : 1px solid #d3d7d9;
 vertical-align : top;
}

.comment .indented {
 margin-left : 40px;
}

.comment-unpublished {
 margin-right : 5px;
 padding      : 5px 2px 5px 5px;
}

.comment .comment-text .comment-arrow {
 border-right : 1px solid #f6f6f6;
 border-left  : 1px solid #f6f6f6;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager {
}

.item-list .pager li {
 margin-right  : 4px;
 border-radius : 3px;
 text-shadow   : 1px 1px #fff;
 background    : #cfcfcf;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
 display    : inline;
 margin-top : 4px;
}

.field-name-taxonomy-forums .field-items {
}

#forum .title {
 font-size : 16px;
}

#forum .submitted {
 padding     : 0;
 font-family : Lucida Grande, Verdana, Arial, sans-serif;
 font-size   : 12px;
 background  : transparent;
}

#forum .container {
 color      : #fff;
 background : #a1a1a1;
}

#forum .container a {
 color       : #000;
 font-weight : bold;
}

#forum div.indent {
 margin-left : 2px;
}

.forum-starter-picture {
 float   : left;
 margin  : 5px 7px 5px 0;
 padding : 4px;
 border  : 1px solid #d9d9d9;
}

#forum th {
 color       : #fff;
 text-shadow : none;
 background  : #434343;
}

#forum th a {
 color : #fff;
}

#forum .icon div,
#forum td.forum .icon {
 width      : 35px;
 height     : 35px;
 background : url(images/no-new-posts.png) no-repeat;
}

#forum .name a {
 font-size : 16px;
}

/* Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
================================================== */
@font-face {
 font-family : 'FontAwesome';
 font-style  : normal;
 font-weight : normal;
 src         : url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
 src         : url('font/fontawesome-webfont.eot?v=4.0.3');
}.fa {
 display                 : inline-block;
 font-family             : serif;
 font-style              : normal;
 font-weight             : normal;
 line-height             : 1;
 -moz-osx-font-smoothing : grayscale;
 -webkit-font-smoothing  : antialiased;
}.fa-lg {
 vertical-align : -15%;
 font-size      : 1.3333333333333333em;
 line-height    : .75em;
}.fa-2x {
 font-size : 2em;
}.fa-3x {
 font-size : 3em;
}.fa-4x {
 font-size : 4em;
}.fa-5x {
 font-size : 5em;
}.fa-fw {
 width      : 1.2857142857142858em;
 text-align : center;
}.fa-ul {
 margin-left     : 2.142857142857143em;
 padding-left    : 0;
 list-style-type : none;
}.fa-ul>li {
 position : relative;
}.fa-li {
 position   : absolute;
 top        : .14285714285714285em;
 left       : -2.142857142857143em;
 width      : 2.142857142857143em;
 text-align : center;
}.fa-li.fa-lg {
 left : -1.8571428571428572em;
}.fa-border {
 padding       : .2em .25em .15em;
 border        : solid .08em #eee;
 border-radius : .1em;
}.pull-right {
 float : right;
}.pull-left {
 float : left;
}.fa.pull-left {
 margin-right : .3em;
}.fa.pull-right {
 margin-left : .3em;
}.fa-spin {
 animation         : spin 2s infinite linear;
 -o-animation      : spin 2s infinite linear;
 -moz-animation    : spin 2s infinite linear;
 -webkit-animation : spin 2s infinite linear;
}@-moz-keyframes spin {
 0% {
   -moz-transform : rotate(0deg);
 }
 100% {
   -moz-transform : rotate(359deg);
 }
}@-webkit-keyframes spin {
 0% {
   -webkit-transform : rotate(0deg);
 }
 100% {
   -webkit-transform : rotate(359deg);
 }
}@-o-keyframes spin {
 0% {
   -o-transform : rotate(0deg);
 }
 100% {
   -o-transform : rotate(359deg);
 }
}@-ms-keyframes spin {
 0% {
   -ms-transform : rotate(0deg);
 }
 100% {
   -ms-transform : rotate(359deg);
 }
}@keyframes spin {
 0% {
   transform : rotate(0deg);
 }
 100% {
   transform : rotate(359deg);
 }
}.fa-rotate-90 {
 filter            : ;
 transform         : rotate(90deg);
 -moz-transform    : rotate(90deg);
 -ms-transform     : rotate(90deg);
 -webkit-transform : rotate(90deg);
 -o-transform      : rotate(90deg);
 progid            : DXImageTransform.Microsoft.BasicImage(rotation=1);
}.fa-rotate-180 {
 filter            : ;
 transform         : rotate(180deg);
 -moz-transform    : rotate(180deg);
 -ms-transform     : rotate(180deg);
 -webkit-transform : rotate(180deg);
 -o-transform      : rotate(180deg);
 progid            : DXImageTransform.Microsoft.BasicImage(rotation=2);
}.fa-rotate-270 {
 filter            : ;
 transform         : rotate(270deg);
 -moz-transform    : rotate(270deg);
 -ms-transform     : rotate(270deg);
 -webkit-transform : rotate(270deg);
 -o-transform      : rotate(270deg);
 progid            : DXImageTransform.Microsoft.BasicImage(rotation=3);
}.fa-flip-horizontal {
 filter            : ;
 transform         : scale(-1,1);
 -moz-transform    : scale(-1,1);
 -ms-transform     : scale(-1,1);
 -webkit-transform : scale(-1,1);
 -o-transform      : scale(-1,1);
 progid            : DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);
}.fa-flip-vertical {
 filter            : ;
 transform         : scale(1,-1);
 -moz-transform    : scale(1,-1);
 -ms-transform     : scale(1,-1);
 -webkit-transform : scale(1,-1);
 -o-transform      : scale(1,-1);
 progid            : DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);
}.fa-stack {
 display        : inline-block;
 position       : relative;
 width          : 2em;
 height         : 2em;
 vertical-align : middle;
 line-height    : 2em;
}.fa-stack-1x,
.fa-stack-2x {
 position   : absolute;
 left       : 0;
 width      : 100%;
 text-align : center;
}.fa-stack-1x {
 line-height : inherit;
}.fa-stack-2x {
 font-size : 2em;
}.fa-inverse {
 color : #fff;
}.fa-glass:before {
 content : "\f000";
}.fa-music:before {
 content : "\f001";
}.fa-search:before {
 content : "\f002";
}.fa-envelope-o:before {
 content : "\f003";
}.fa-heart:before {
 content : "\f004";
}.fa-star:before {
 content : "\f005";
}.fa-star-o:before {
 content : "\f006";
}.fa-user:before {
 content : "\f007";
}.fa-film:before {
 content : "\f008";
}.fa-th-large:before {
 content : "\f009";
}.fa-th:before {
 content : "\f00a";
}.fa-th-list:before {
 content : "\f00b";
}.fa-check:before {
 content : "\f00c";
}.fa-times:before {
 content : "\f00d";
}.fa-search-plus:before {
 content : "\f00e";
}.fa-search-minus:before {
 content : "\f010";
}.fa-power-off:before {
 content : "\f011";
}.fa-signal:before {
 content : "\f012";
}.fa-cog:before,
.fa-gear:before {
 content : "\f013";
}.fa-trash-o:before {
 content : "\f014";
}.fa-home:before {
 content : "\f015";
}.fa-file-o:before {
 content : "\f016";
}.fa-clock-o:before {
 content : "\f017";
}.fa-road:before {
 content : "\f018";
}.fa-download:before {
 content : "\f019";
}.fa-arrow-circle-o-down:before {
 content : "\f01a";
}.fa-arrow-circle-o-up:before {
 content : "\f01b";
}.fa-inbox:before {
 content : "\f01c";
}.fa-play-circle-o:before {
 content : "\f01d";
}.fa-repeat:before,
.fa-rotate-right:before {
 content : "\f01e";
}.fa-refresh:before {
 content : "\f021";
}.fa-list-alt:before {
 content : "\f022";
}.fa-lock:before {
 content : "\f023";
}.fa-flag:before {
 content : "\f024";
}.fa-headphones:before {
 content : "\f025";
}.fa-volume-off:before {
 content : "\f026";
}.fa-volume-down:before {
 content : "\f027";
}.fa-volume-up:before {
 content : "\f028";
}.fa-qrcode:before {
 content : "\f029";
}.fa-barcode:before {
 content : "\f02a";
}.fa-tag:before {
 content : "\f02b";
}.fa-tags:before {
 content : "\f02c";
}.fa-book:before {
 content : "\f02d";
}.fa-bookmark:before {
 content : "\f02e";
}.fa-print:before {
 content : "\f02f";
}.fa-camera:before {
 content : "\f030";
}.fa-font:before {
 content : "\f031";
}.fa-bold:before {
 content : "\f032";
}.fa-italic:before {
 content : "\f033";
}.fa-text-height:before {
 content : "\f034";
}.fa-text-width:before {
 content : "\f035";
}.fa-align-left:before {
 content : "\f036";
}.fa-align-center:before {
 content : "\f037";
}.fa-align-right:before {
 content : "\f038";
}.fa-align-justify:before {
 content : "\f039";
}.fa-list:before {
 content : "\f03a";
}.fa-dedent:before,
.fa-outdent:before {
 content : "\f03b";
}.fa-indent:before {
 content : "\f03c";
}.fa-video-camera:before {
 content : "\f03d";
}.fa-picture-o:before {
 content : "\f03e";
}.fa-pencil:before {
 content : "\f040";
}.fa-map-marker:before {
 content : "\f041";
}.fa-adjust:before {
 content : "\f042";
}.fa-tint:before {
 content : "\f043";
}.fa-edit:before,
.fa-pencil-square-o:before {
 content : "\f044";
}.fa-share-square-o:before {
 content : "\f045";
}.fa-check-square-o:before {
 content : "\f046";
}.fa-arrows:before {
 content : "\f047";
}.fa-step-backward:before {
 content : "\f048";
}.fa-fast-backward:before {
 content : "\f049";
}.fa-backward:before {
 content : "\f04a";
}.fa-play:before {
 content : "\f04b";
}.fa-pause:before {
 content : "\f04c";
}.fa-stop:before {
 content : "\f04d";
}.fa-forward:before {
 content : "\f04e";
}.fa-fast-forward:before {
 content : "\f050";
}.fa-step-forward:before {
 content : "\f051";
}.fa-eject:before {
 content : "\f052";
}.fa-chevron-left:before {
 content : "\f053";
}.fa-chevron-right:before {
 content : "\f054";
}.fa-plus-circle:before {
 content : "\f055";
}.fa-minus-circle:before {
 content : "\f056";
}.fa-times-circle:before {
 content : "\f057";
}.fa-check-circle:before {
 content : "\f058";
}.fa-question-circle:before {
 content : "\f059";
}.fa-info-circle:before {
 content : "\f05a";
}.fa-crosshairs:before {
 content : "\f05b";
}.fa-times-circle-o:before {
 content : "\f05c";
}.fa-check-circle-o:before {
 content : "\f05d";
}.fa-ban:before {
 content : "\f05e";
}.fa-arrow-left:before {
 content : "\f060";
}.fa-arrow-right:before {
 content : "\f061";
}.fa-arrow-up:before {
 content : "\f062";
}.fa-arrow-down:before {
 content : "\f063";
}.fa-mail-forward:before,
.fa-share:before {
 content : "\f064";
}.fa-expand:before {
 content : "\f065";
}.fa-compress:before {
 content : "\f066";
}.fa-plus:before {
 content : "\f067";
}.fa-minus:before {
 content : "\f068";
}.fa-asterisk:before {
 content : "\f069";
}.fa-exclamation-circle:before {
 content : "\f06a";
}.fa-gift:before {
 content : "\f06b";
}.fa-leaf:before {
 content : "\f06c";
}.fa-fire:before {
 content : "\f06d";
}.fa-eye:before {
 content : "\f06e";
}.fa-eye-slash:before {
 content : "\f070";
}.fa-exclamation-triangle:before,
.fa-warning:before {
 content : "\f071";
}.fa-plane:before {
 content : "\f072";
}.fa-calendar:before {
 content : "\f073";
}.fa-random:before {
 content : "\f074";
}.fa-comment:before {
 content : "\f075";
}.fa-magnet:before {
 content : "\f076";
}.fa-chevron-up:before {
 content : "\f077";
}.fa-chevron-down:before {
 content : "\f078";
}.fa-retweet:before {
 content : "\f079";
}.fa-shopping-cart:before {
 content : "\f07a";
}.fa-folder:before {
 content : "\f07b";
}.fa-folder-open:before {
 content : "\f07c";
}.fa-arrows-v:before {
 content : "\f07d";
}.fa-arrows-h:before {
 content : "\f07e";
}.fa-bar-chart-o:before {
 content : "\f080";
}.fa-twitter-square:before {
 content : "\f081";
}.fa-facebook-square:before {
 content : "\f082";
}.fa-camera-retro:before {
 content : "\f083";
}.fa-key:before {
 content : "\f084";
}.fa-cogs:before,
.fa-gears:before {
 content : "\f085";
}.fa-comments:before {
 content : "\f086";
}.fa-thumbs-o-up:before {
 content : "\f087";
}.fa-thumbs-o-down:before {
 content : "\f088";
}.fa-star-half:before {
 content : "\f089";
}.fa-heart-o:before {
 content : "\f08a";
}.fa-sign-out:before {
 content : "\f08b";
}.fa-linkedin-square:before {
 content : "\f08c";
}.fa-thumb-tack:before {
 content : "\f08d";
}.fa-external-link:before {
 content : "\f08e";
}.fa-sign-in:before {
 content : "\f090";
}.fa-trophy:before {
 content : "\f091";
}.fa-github-square:before {
 content : "\f092";
}.fa-upload:before {
 content : "\f093";
}.fa-lemon-o:before {
 content : "\f094";
}.fa-phone:before {
 content : "\f095";
}.fa-square-o:before {
 content : "\f096";
}.fa-bookmark-o:before {
 content : "\f097";
}.fa-phone-square:before {
 content : "\f098";
}.fa-twitter:before {
 content : "\f099";
}.fa-facebook:before {
 content : "\f09a";
}.fa-github:before {
 content : "\f09b";
}.fa-unlock:before {
 content : "\f09c";
}.fa-credit-card:before {
 content : "\f09d";
}.fa-rss:before {
 content : "\f09e";
}.fa-hdd-o:before {
 content : "\f0a0";
}.fa-bullhorn:before {
 content : "\f0a1";
}.fa-bell:before {
 content : "\f0f3";
}.fa-certificate:before {
 content : "\f0a3";
}.fa-hand-o-right:before {
 content : "\f0a4";
}.fa-hand-o-left:before {
 content : "\f0a5";
}.fa-hand-o-up:before {
 content : "\f0a6";
}.fa-hand-o-down:before {
 content : "\f0a7";
}.fa-arrow-circle-left:before {
 content : "\f0a8";
}.fa-arrow-circle-right:before {
 content : "\f0a9";
}.fa-arrow-circle-up:before {
 content : "\f0aa";
}.fa-arrow-circle-down:before {
 content : "\f0ab";
}.fa-globe:before {
 content : "\f0ac";
}.fa-wrench:before {
 content : "\f0ad";
}.fa-tasks:before {
 content : "\f0ae";
}.fa-filter:before {
 content : "\f0b0";
}.fa-briefcase:before {
 content : "\f0b1";
}.fa-arrows-alt:before {
 content : "\f0b2";
}.fa-group:before,
.fa-users:before {
 content : "\f0c0";
}.fa-chain:before,
.fa-link:before {
 content : "\f0c1";
}.fa-cloud:before {
 content : "\f0c2";
}.fa-flask:before {
 content : "\f0c3";
}.fa-cut:before,
.fa-scissors:before {
 content : "\f0c4";
}.fa-copy:before,
.fa-files-o:before {
 content : "\f0c5";
}.fa-paperclip:before {
 content : "\f0c6";
}.fa-floppy-o:before,
.fa-save:before {
 content : "\f0c7";
}.fa-square:before {
 content : "\f0c8";
}.fa-bars:before {
 content : "\f0c9";
}.fa-list-ul:before {
 content : "\f0ca";
}.fa-list-ol:before {
 content : "\f0cb";
}.fa-strikethrough:before {
 content : "\f0cc";
}.fa-underline:before {
 content : "\f0cd";
}.fa-table:before {
 content : "\f0ce";
}.fa-magic:before {
 content : "\f0d0";
}.fa-truck:before {
 content : "\f0d1";
}.fa-pinterest:before {
 content : "\f0d2";
}.fa-pinterest-square:before {
 content : "\f0d3";
}.fa-google-plus-square:before {
 content : "\f0d4";
}.fa-google-plus:before {
 content : "\f0d5";
}.fa-money:before {
 content : "\f0d6";
}.fa-caret-down:before {
 content : "\f0d7";
}.fa-caret-up:before {
 content : "\f0d8";
}.fa-caret-left:before {
 content : "\f0d9";
}.fa-caret-right:before {
 content : "\f0da";
}.fa-columns:before {
 content : "\f0db";
}.fa-sort:before,
.fa-unsorted:before {
 content : "\f0dc";
}.fa-sort-asc:before,
.fa-sort-down:before {
 content : "\f0dd";
}.fa-sort-desc:before,
.fa-sort-up:before {
 content : "\f0de";
}.fa-envelope:before {
 content : "\f0e0";
}.fa-linkedin:before {
 content : "\f0e1";
}.fa-rotate-left:before,
.fa-undo:before {
 content : "\f0e2";
}.fa-gavel:before,
.fa-legal:before {
 content : "\f0e3";
}.fa-dashboard:before,
.fa-tachometer:before {
 content : "\f0e4";
}.fa-comment-o:before {
 content : "\f0e5";
}.fa-comments-o:before {
 content : "\f0e6";
}.fa-bolt:before,
.fa-flash:before {
 content : "\f0e7";
}.fa-sitemap:before {
 content : "\f0e8";
}.fa-umbrella:before {
 content : "\f0e9";
}.fa-clipboard:before,
.fa-paste:before {
 content : "\f0ea";
}.fa-lightbulb-o:before {
 content : "\f0eb";
}.fa-exchange:before {
 content : "\f0ec";
}.fa-cloud-download:before {
 content : "\f0ed";
}.fa-cloud-upload:before {
 content : "\f0ee";
}.fa-user-md:before {
 content : "\f0f0";
}.fa-stethoscope:before {
 content : "\f0f1";
}.fa-suitcase:before {
 content : "\f0f2";
}.fa-bell-o:before {
 content : "\f0a2";
}.fa-coffee:before {
 content : "\f0f4";
}.fa-cutlery:before {
 content : "\f0f5";
}.fa-file-text-o:before {
 content : "\f0f6";
}.fa-building-o:before {
 content : "\f0f7";
}.fa-hospital-o:before {
 content : "\f0f8";
}.fa-ambulance:before {
 content : "\f0f9";
}.fa-medkit:before {
 content : "\f0fa";
}.fa-fighter-jet:before {
 content : "\f0fb";
}.fa-beer:before {
 content : "\f0fc";
}.fa-h-square:before {
 content : "\f0fd";
}.fa-plus-square:before {
 content : "\f0fe";
}.fa-angle-double-left:before {
 content : "\f100";
}.fa-angle-double-right:before {
 content : "\f101";
}.fa-angle-double-up:before {
 content : "\f102";
}.fa-angle-double-down:before {
 content : "\f103";
}.fa-angle-left:before {
 content : "\f104";
}.fa-angle-right:before {
 content : "\f105";
}.fa-angle-up:before {
 content : "\f106";
}.fa-angle-down:before {
 content : "\f107";
}.fa-desktop:before {
 content : "\f108";
}.fa-laptop:before {
 content : "\f109";
}.fa-tablet:before {
 content : "\f10a";
}.fa-mobile-phone:before,
.fa-mobile:before {
 content : "\f10b";
}.fa-circle-o:before {
 content : "\f10c";
}.fa-quote-left:before {
 content : "\f10d";
}.fa-quote-right:before {
 content : "\f10e";
}.fa-spinner:before {
 content : "\f110";
}.fa-circle:before {
 content : "\f111";
}.fa-mail-reply:before,
.fa-reply:before {
 content : "\f112";
}.fa-github-alt:before {
 content : "\f113";
}.fa-folder-o:before {
 content : "\f114";
}.fa-folder-open-o:before {
 content : "\f115";
}.fa-smile-o:before {
 content : "\f118";
}.fa-frown-o:before {
 content : "\f119";
}.fa-meh-o:before {
 content : "\f11a";
}.fa-gamepad:before {
 content : "\f11b";
}.fa-keyboard-o:before {
 content : "\f11c";
}.fa-flag-o:before {
 content : "\f11d";
}.fa-flag-checkered:before {
 content : "\f11e";
}.fa-terminal:before {
 content : "\f120";
}.fa-code:before {
 content : "\f121";
}.fa-reply-all:before {
 content : "\f122";
}.fa-mail-reply-all:before {
 content : "\f122";
}.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
 content : "\f123";
}.fa-location-arrow:before {
 content : "\f124";
}.fa-crop:before {
 content : "\f125";
}.fa-code-fork:before {
 content : "\f126";
}.fa-chain-broken:before,
.fa-unlink:before {
 content : "\f127";
}.fa-question:before {
 content : "\f128";
}.fa-info:before {
 content : "\f129";
}.fa-exclamation:before {
 content : "\f12a";
}.fa-superscript:before {
 content : "\f12b";
}.fa-subscript:before {
 content : "\f12c";
}.fa-eraser:before {
 content : "\f12d";
}.fa-puzzle-piece:before {
 content : "\f12e";
}.fa-microphone:before {
 content : "\f130";
}.fa-microphone-slash:before {
 content : "\f131";
}.fa-shield:before {
 content : "\f132";
}.fa-calendar-o:before {
 content : "\f133";
}.fa-fire-extinguisher:before {
 content : "\f134";
}.fa-rocket:before {
 content : "\f135";
}.fa-maxcdn:before {
 content : "\f136";
}.fa-chevron-circle-left:before {
 content : "\f137";
}.fa-chevron-circle-right:before {
 content : "\f138";
}.fa-chevron-circle-up:before {
 content : "\f139";
}.fa-chevron-circle-down:before {
 content : "\f13a";
}.fa-html5:before {
 content : "\f13b";
}.fa-css3:before {
 content : "\f13c";
}.fa-anchor:before {
 content : "\f13d";
}.fa-unlock-alt:before {
 content : "\f13e";
}.fa-bullseye:before {
 content : "\f140";
}.fa-ellipsis-h:before {
 content : "\f141";
}.fa-ellipsis-v:before {
 content : "\f142";
}.fa-rss-square:before {
 content : "\f143";
}.fa-play-circle:before {
 content : "\f144";
}.fa-ticket:before {
 content : "\f145";
}.fa-minus-square:before {
 content : "\f146";
}.fa-minus-square-o:before {
 content : "\f147";
}.fa-level-up:before {
 content : "\f148";
}.fa-level-down:before {
 content : "\f149";
}.fa-check-square:before {
 content : "\f14a";
}.fa-pencil-square:before {
 content : "\f14b";
}.fa-external-link-square:before {
 content : "\f14c";
}.fa-share-square:before {
 content : "\f14d";
}.fa-compass:before {
 content : "\f14e";
}.fa-caret-square-o-down:before,
.fa-toggle-down:before {
 content : "\f150";
}.fa-caret-square-o-up:before,
.fa-toggle-up:before {
 content : "\f151";
}.fa-caret-square-o-right:before,
.fa-toggle-right:before {
 content : "\f152";
}.fa-eur:before,
.fa-euro:before {
 content : "\f153";
}.fa-gbp:before {
 content : "\f154";
}.fa-dollar:before,
.fa-usd:before {
 content : "\f155";
}.fa-inr:before,
.fa-rupee:before {
 content : "\f156";
}.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
 content : "\f157";
}.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
 content : "\f158";
}.fa-krw:before,
.fa-won:before {
 content : "\f159";
}.fa-bitcoin:before,
.fa-btc:before {
 content : "\f15a";
}.fa-file:before {
 content : "\f15b";
}.fa-file-text:before {
 content : "\f15c";
}.fa-sort-alpha-asc:before {
 content : "\f15d";
}.fa-sort-alpha-desc:before {
 content : "\f15e";
}.fa-sort-amount-asc:before {
 content : "\f160";
}.fa-sort-amount-desc:before {
 content : "\f161";
}.fa-sort-numeric-asc:before {
 content : "\f162";
}.fa-sort-numeric-desc:before {
 content : "\f163";
}.fa-thumbs-up:before {
 content : "\f164";
}.fa-thumbs-down:before {
 content : "\f165";
}.fa-youtube-square:before {
 content : "\f166";
}.fa-youtube:before {
 content : "\f167";
}.fa-xing:before {
 content : "\f168";
}.fa-xing-square:before {
 content : "\f169";
}.fa-youtube-play:before {
 content : "\f16a";
}.fa-dropbox:before {
 content : "\f16b";
}.fa-stack-overflow:before {
 content : "\f16c";
}.fa-instagram:before {
 content : "\f16d";
}.fa-flickr:before {
 content : "\f16e";
}.fa-adn:before {
 content : "\f170";
}.fa-bitbucket:before {
 content : "\f171";
}.fa-bitbucket-square:before {
 content : "\f172";
}.fa-tumblr:before {
 content : "\f173";
}.fa-tumblr-square:before {
 content : "\f174";
}.fa-long-arrow-down:before {
 content : "\f175";
}.fa-long-arrow-up:before {
 content : "\f176";
}.fa-long-arrow-left:before {
 content : "\f177";
}.fa-long-arrow-right:before {
 content : "\f178";
}.fa-apple:before {
 content : "\f179";
}.fa-windows:before {
 content : "\f17a";
}.fa-android:before {
 content : "\f17b";
}.fa-linux:before {
 content : "\f17c";
}.fa-dribbble:before {
 content : "\f17d";
}.fa-skype:before {
 content : "\f17e";
}.fa-foursquare:before {
 content : "\f180";
}.fa-trello:before {
 content : "\f181";
}.fa-female:before {
 content : "\f182";
}.fa-male:before {
 content : "\f183";
}.fa-gittip:before {
 content : "\f184";
}.fa-sun-o:before {
 content : "\f185";
}.fa-moon-o:before {
 content : "\f186";
}.fa-archive:before {
 content : "\f187";
}.fa-bug:before {
 content : "\f188";
}.fa-vk:before {
 content : "\f189";
}.fa-weibo:before {
 content : "\f18a";
}.fa-renren:before {
 content : "\f18b";
}.fa-pagelines:before {
 content : "\f18c";
}.fa-stack-exchange:before {
 content : "\f18d";
}.fa-arrow-circle-o-right:before {
 content : "\f18e";
}.fa-arrow-circle-o-left:before {
 content : "\f190";
}.fa-caret-square-o-left:before,
.fa-toggle-left:before {
 content : "\f191";
}.fa-dot-circle-o:before {
 content : "\f192";
}.fa-wheelchair:before {
 content : "\f193";
}.fa-vimeo-square:before {
 content : "\f194";
}.fa-try:before,
.fa-turkish-lira:before {
 content : "\f195";
}.fa-plus-square-o:before {
 content : "\f196";
}
